h1 {
    background-color: lavenderblush;
        color: midnightblue;
    text-align: center;
    float: left; 
}
h1 {
    color: aqua;
}

#Footer {
    background-color: lavenderblush;
        color: black; 
    text-align: right
    
}
